.analysisListContainer{
    align-self: center;
    display: flex;
    flex-direction: row;

    select{
        padding: 10px;
        text-align: center;
        margin-right: 15px;
        border-radius: 12px;
        outline: none;
    }
}