.securityScore{
    table th{
        &.critical{
            background-color: red;
        }
        &.danger{
            background-color: orange;
        }
        &.medium{
            background-color: yellow;
        }
        &.success{
            background-color: green;
        }
        &.total{
            font-weight: bold !important;
        }
    }
}