.container{
    table{
        width: 100%;

        thead tr{
            background-color: #eee !important;
        }
        
        tr:nth-child(even) {
            background-color: #eee;
        }
        tr:nth-child(odd) {
            background-color: #fff;
        }

        th{
            padding:10px;
        }
        tbody {
            th {
                font-weight: 400;
            }
            .total th{
                font-weight: bold;
            }
        }

    }
}