.ratingsListContainer {
    height: fill-available;
    width: fill-available;
    outline: none;

    h5{
        margin: 0;
        padding: 0 10px;
    }

    #rating{
        margin: 10px 0 0 0 ;
        width: 100%;
    }

    input[type=range] {
        cursor: pointer;
        outline: none;
        color: red;          /* sert pour couleur de référence, via currentColor, pour le curseur */
        background: red;             /* sert pour couleur de fond de la zone de déplacement */
        box-sizing: border-box;       /* même modèle de boîte pour tous */
        transition: opacity .2s;
      }
}