frontend/node_modules/*
backend/node-postgres/node_modules/*
.DS_Store
backend/.DS_Store
scrapy/project/__pycache__/*
scrapy/project/spiders/__pycache__/*
backend/scripts/download/FlowDroid_outputs/
backend/scripts/download/FlowDroid_processed/
backend/scripts/download/Permissions/
backend/scripts/download/VT_analysis/
backend/scripts/download/samples/