.container{
    background-color: white;
    margin: 0 25px;
    border-radius: 15px;

    .title{
        font-weight: bold;
    }

   

    .stepContainer{
        padding: 10px 0;

        &.no-border{
            border-bottom: none;
        }

        .info{
            text-decoration: underline;
        }

        img{
            max-width: 100%;
            padding: 20px 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &.small{
                width: 20%;
            }
            &.medium{
                width: 40%;
            }
            &.big{
                width: 80%;
            }
        }

        span{
            display: flex;
            flex-direction: column;
        }

    }


}