.infoContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.appContainer{
    padding: 15px;

    .topBar{
        display: flex;
        flex-direction: row;
        align-items: center;

        .appsCount{
            flex:1;
        }

        .button{
            text-align: end;
        }

        .estimation{
            padding-top: 10px;
            color: rgb(118, 118, 118);
        }

        .comparisonForm{
            display: flex;
        }
    }

    .loaderContainer{
        text-align: center;
    }

    .bottomBar{
        .row{
            display: flex;
            flex-direction: row;
            align-items: center;

            .headings{
                width: fill-available;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                padding: 10px;
                margin: 10px;
                color: #222222;

                .id{
                    flex: 3 !important;
                    font-weight: bold;
                }
                
                span{
                    flex: 4;
                    overflow: hidden;
                    align-self: center;
                    padding-left: 5px;
                    padding-right: 10px;
                    &.large{
                        flex:10 !important;
                    }
                }

            }

        }
    }

}
.navPageContainer{
    padding: 15px;
    justify-content: space-between;
    display: flex;
}

.modal{
    z-index: 1050;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    height: 75%;
    width: 75%;
    transform: translate(-50%, -50%);

    .modal-dialog{
        height:100%;
    }

    .modal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: .3rem;
        outline: 0;
    
        .modal-header{
            display: flex;
            align-items: center;
            font-weight: bold;
            padding: 1rem;
            border-bottom: 1px solid #dee2e6;
            border-top-left-radius: calc(.3rem - 1px);
            border-top-right-radius: calc(.3rem - 1px);

            .modal-title{
                padding-right: 20px;
            }
        }
    
        .modal-body{
            position: relative;
            flex: 1 1 auto;
            padding: 1rem;
            overflow-y: scroll;

            .row{
                padding: 10px 0;
            }
            
            .analysis{

                thead tr{
                    background-color: #eee !important;
                }
                
                tr:nth-child(even) {
                    background-color: #eee;
                }
                tr:nth-child(odd) {
                    background-color: #fff;
                }
                
                table th{
                    padding:10px;
                }
                
                tbody th{
                    font-weight: 400;
    
                    &.securityScore, &.name{
                        font-weight: bold;
                    }
                }
            }
            
        }
    
        .modal-footer{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            padding: .75rem;
            border-top: 1px solid #dee2e6;
            border-bottom-right-radius: calc(.3rem - 1px);
            border-bottom-left-radius: calc(.3rem - 1px);
    
            .button{
                flex:none;
                margin: 0 0 0 15px;
            }
        }
    }
}