body{
    background-color: rgb(245,245,245);
}

header{
    padding: 0 25px 0 25px;
    margin: 0;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    
}

a{
    text-decoration: none;
    color: inherit;
}